button {
  font-size: 1rem;
  width: 30px;
  border: 1px solid #d6d6d6;
}

.App {
  display: flex;
  flex-flow: column;
  /* width: 100%; */
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
}

.expression {
  height: 30px;
  color: black;
  font-size: large;
}

.panel {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

.numbers {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-items: stretch;
  width: 500px;
  flex-direction: column;
}

.number {
  width: 33%;
  height: 50px;
}

.operators {
  display: flex;
  flex-flow: column;
  flex-direction: column;
}

.operators button {
  color: white;
  background: #7f39ff;
  border-left: none;
  border-bottom: 0;
  width: 160px;
  height: 40.1px;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}

.history {
  color: purple;
  margin: auto;
}

.results {
  background-color: rgb(170, 170, 170);
  height: 180px;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  padding-right: 20px;
}

.hamburger-line {
  height: 2px;
  width: 2px;
  background-color: purple;
  margin-bottom: 1px;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.title p {
  cursor: pointer;
}


